<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452602739866-aaih9puvf1eamr7bseu097hdhjgj9csa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452602739866-aaih9puvf1eamr7bseu097hdhjgj9csa</string>
	<key>API_KEY</key>
	<string>AIzaSyCE80Hr1G4DDVg0gY_A3CQRRa6TzltuzOw</string>
	<key>GCM_SENDER_ID</key>
	<string>452602739866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onesinal</string>
	<key>PROJECT_ID</key>
	<string>onesinal</string>
	<key>STORAGE_BUCKET</key>
	<string>onesinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452602739866:ios:01dc013539703a341ab323</string>
</dict>
</plist>